In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Elizabeth,ZA,2022-01-24 03:15:43,-33.9180,25.5701,64.69,82,0,5.75
1,1,Morristown,US,2022-01-24 03:06:29,36.2140,-83.2949,39.34,62,100,9.22
2,2,Dingle,PH,2022-01-24 03:19:33,10.9995,122.6711,83.52,74,71,11.99
3,3,Port Hardy,CA,2022-01-24 03:08:19,50.6996,-127.4199,41.76,79,99,5.59
4,4,Bethel,US,2022-01-24 03:19:33,41.3712,-73.4140,31.05,87,100,0.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Dingle,PH,2022-01-24 03:19:33,10.9995,122.6711,83.52,74,71,11.99
10,10,Vila Velha,BR,2022-01-24 03:19:35,-20.3297,-40.2925,76.44,89,40,4.61
14,14,Ilhabela,BR,2022-01-24 03:19:37,-23.7781,-45.3581,76.82,91,36,7.20
19,19,Lazaro Cardenas,MX,2022-01-24 03:19:38,17.9583,-102.2000,75.38,71,28,4.99
22,22,Matara,LK,2022-01-24 03:19:39,5.9485,80.5353,76.87,79,99,4.74
24,24,Rameswaram,IN,2022-01-24 03:19:40,9.2833,79.3000,79.65,77,100,13.40
26,26,Busselton,AU,2022-01-24 03:19:41,-33.6500,115.3333,75.52,47,30,17.83
28,28,Koumac,NC,2022-01-24 03:19:41,-20.5667,164.2833,82.63,64,47,8.57
31,31,Rikitea,PF,2022-01-24 03:19:42,-23.1203,-134.9692,78.35,71,100,15.50
33,33,Vanimo,PG,2022-01-24 03:19:43,-2.6741,141.3028,82.00,83,99,4.83

In [16]:
preferred_cities_df.count()

City_ID       134
City          134
Country       132
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [17]:
preferred_cities_df = preferred_cities_df.dropna(how='any')

In [18]:
preferred_cities_df.count()

City_ID       132
City          132
Country       132
Date          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2            Dingle      PH     83.52  10.9995  122.6711
10       Vila Velha      BR     76.44 -20.3297  -40.2925
14         Ilhabela      BR     76.82 -23.7781  -45.3581
19  Lazaro Cardenas      MX     75.38  17.9583 -102.2000
22           Matara      LK     76.87   5.9485   80.5353
24       Rameswaram      IN     79.65   9.2833   79.3000
26        Busselton      AU     75.52 -33.6500  115.3333
28           Koumac      NC     82.63 -20.5667  164.2833
31          Rikitea      PF     78.35 -23.1203 -134.9692
33           Vanimo      PG     82.00  -2.6741  141.3028

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Dingle,PH,83.52,10.9995,122.6711,SEGAYA PROPERTY
10,Vila Velha,BR,76.44,-20.3297,-40.2925,Quality Suites Vila Velha
14,Ilhabela,BR,76.82,-23.7781,-45.3581,Ilha Flat Hotel
19,Lazaro Cardenas,MX,75.38,17.9583,-102.2000,quinta antigua
22,Matara,LK,76.87,5.9485,80.5353,Amaloh Boutique Resort
24,Rameswaram,IN,79.65,9.2833,79.3000,Daiwik Hotels Rameswaram
26,Busselton,AU,75.52,-33.6500,115.3333,Observatory Guest House
28,Koumac,NC,82.63,-20.5667,164.2833,Le Monitel
31,Rikitea,PF,78.35,-23.1203,-134.9692,People ThankYou
33,Vanimo,PG,82.00,-2.6741,141.3028,Vahmoneh Lodge Vanimo

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]